.priceDetailsContainer {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 100%;
  max-width: 25vw;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: fixed;
  top: 12vh; /* Adjusted to be fixed on the right side */
  right: 3vw; /* Adjusted to be fixed on the right side */
}

.priceRow {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #333;
}

.priceRow.bold {
  font-weight: bold;
}

.totalPrice {
  font-size: 18px;
  font-weight: bold;
  color: #ff5733; /* Highlight color for total price */
  text-align: right;
}
